* {
  font-family: 'Open Sans', sans-serif;
}


.project-img {
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.project-section > div {
  flex-direction: row-reverse;
}
.project-section > div:nth-child(odd) {
  flex-direction: row;
}

/* All  */
.headlines {
  font-size: 2rem;
  font-weight:600
}

/* Hero Section  */
.hero-pretext {
  font-size: 1.25rem;
}

.hero-text {
  font-size: 2.5rem;
  font-weight:600
}

.hero-subtext {
  font-size: 1.5rem;
}

/* About Me Section  */
.about-me {
  font-size: 1.25rem;
}

/* Projects Section  */
.project-titles {
  font-size: 1.5rem;
  font-weight:600;
}