{{ define "main" }}
<!-- start -->

<div class="container">
  <section class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col">
      <h5>Hi, my name is</h5>
      <h1>Anthony Ngo</h1>
      <h1>I build htings for the web</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, ex ipsum! Provident quam, unde iusto voluptates facilis aut explicabo commodi natus fugiat quos. Aut, deserunt? Rem laborum blanditiis harum. Velit?</p>
      <div>
        <span>github</span>
        <span>linked</span>
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="row justify-content-center align-items-center" style="height: 100vh;">
  <div class="col">
    <h1>hasidashid</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem adipisci inventore unde praesentium cum molestias soluta repudiandae blanditiis aliquid repellat! Blanditiis tempore necessitatibus, voluptas eos odio quibusdam cumque ullam fugiat?</p>
  </div>
</section> -->

<div>
<!-- 
<section class="row justify-content-center align-items-center" style="height: 100vh;">
  <div class="col">
    <h1>About Me</h1>
    <p>
      Hey there! My name is Anthony and I build things for the web.
      My interest in development began out of frustration when I built my first blog on Wordpress with a drag and drop builder and found my creativity limited by my skillset. 

      Fast forward to today and I've been able to expand beyond simple blogs, and even get to contribute to work with an international team.
    </p>
    <p>here are some technologies I've learned since the start of my journey</p>
  </div>
</section> -->

<!-- end  -->
{{end}}